<div class="topicAll">
  <div class="topics">
    <% @topic.each do |topic| %>
      <div class="topicAll">
        <p><%=link_to topic.title, top_path(topic.id), class:"topicTitle" %></p>
        <p>投稿者<%= topic.userName %>さん</p> 
      </div>
    <% end %> 
  </div>
  <div class="topicSearch">
    <input type="text" class="searchingTopics" placeholder="探したいタイトルを入力してください">
    <div class="search-results"> 
    </div>
  </div>
</div>
<%= paginate(@topic) %>