<div class="start"> 
  このサイトについて
</div>
<div class="explanation">
  <div class="explanation-child">
    <p class="close-about">[x]</p>
    <p>優しい掲示板です。誹謗中傷の書き込みはNGです。</p>
  </div>
</div>
<div class="topicsAll">
  <div class="topics">
    <% @topic.each do |topic| %>
      <div class="topicAll">
        <p><%=link_to topic.title, top_path(topic.id), class:"topicTitle" %></p>
        <p>投稿者<%= topic.userName %>さん</p> 
      </div>
    <% end %> 
  </div>
  <div class="topicSearch">
    <input type="text" class="searchingTopics" placeholder="探したいタイトルを入力してください">
    <div class="search-results" style="width:173px"> 
    </div>
  </div>
</div>

<%= paginate(@topic) %>