<div class="topicSearch">
  <input type="text" class="searchingTopics">
</div>
<div class="topics">
  <% @topic.each do |topic| %>
    <div class="topicAll">
      <p><%=link_to topic.title, top_path(topic.id), class:"topicTitle" %></p>
      <p>投稿者<%= topic.userName %>さん</p> 
    </div>
  <% end %> 
</div>
<%= paginate(@topic) %>