/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import "font-awesome";

 //application.html.erb
.kindSNS {
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
}

.title {
  margin-left: 20px;
}

.titleName {
  text-decoration: none;
  color: #000;
  position: relative;
  top: 20px;
}

.titleName:hover {
  text-decoration: none;
}

.newRegistration, .login, .logout, .newPost {
  margin: 30px 20px 0 0;
  text-decoration: none;
  color: skyblue;
}



.newPost,
.logout,
.newRegistration,
.login {
  color: #000;
  display: inline-block;
  margin-bottom: 40px;
}

.newPost:hover,
.logout:hover,
.newRegistration:hover,
.login:hover {
  text-decoration: none;
}

main {
  height: calc(100vh - 94px);
}
