// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index.html.erb

.topicsAll {
  display: flex;
  justify-content: space-between;
  user-select: none;
  margin: 0 50px;
}

.topicTitle {
  text-decoration: none;
  color: blue;
}



.topics {
  margin-top: 50px;
}

.topicAll {
  justify-content: space-between;
}


.explanation-on {
  position: fixed;
  z-index: 1;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
  animation: fadeIn 0.4s 1;
}

@keyframes fadeIn {
  from {
    display: none;
    opacity:0;
  }
  to {
    display: block;
    background-color: gray;
    opacity: 0.6;
  }
}


.explanation-off {
  display:none;
  transition: 0.2s;
}

.explanation-child {
  display:none;
  background-color: white;
  width: 400px;
  margin: auto;
  position: relative; 
  top: 40%;
}

//show.html.erb

.eachComment {
  border-bottom: 1px solid gray;
}

.eachComment > p,
.eachComment > div,
.erase {
  margin-left: 20px;
}

.eachComment > div {
  margin-bottom: 10px;
}

.deleteComment {
  text-decoration: none;
}

.userName {
  margin-top: 30px;
}

.erase {
  display: flex;
}

.erase > p {
  margin:0 5px 0 0;
}

//top.js

#new_comment {
  width: 300px;
  margin: 0 auto;
}



.countUp:focus {
  outline: none;
}

